<%- include('../../template/cabecalho'); -%>


<!-- coluna conteudo -->
<div class="column">
  <h2 class="title">Clientes</h2>

  <!-- navegacao cliente -->
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-5">
          <strong>6</strong> clientes
        </p>
      </div>

      <p class="level-item">
        <a href="/clientes/novo" class="button is-success">novo</a>
      </p>

      <div class="level-item is-hidden-tablet-only">
        <div class="field has-addons">
          <p class="control">
            <input type="text" name="" id="" class="input" placeholder="Cliente ...">
          </p>

          <p class="control">
            <button class="button">Procurar</button>
          </p>
        </div>
      </div>
    </div>

    <!-- level-right -->
    <div class="level-right">
      <level class="item">
        Ordenar por
      </level>

      <div class="level-item">
        <div class="select">
          <select name="" id="">
            <option value="">Nome</option>
            <option value="">Data registo</option>
            <option value="">Servicos</option>


          </select>
        </div>
      </div>
    </div>
  </nav>
  <!-- ./navegacao cliente -->

  <!-- tabela cliente -->
  <table class="table is-hoverable is-fullwidth" id="clienteFilialTabela">
    <thead>
      <tr>
        <!-- <th class="is-narrow">
          <input type="checkbox">
        </th> -->
        <th>Codigo</th>
        <th>Cliente</th>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Nuit</th>
        <th>accao</th>
      </tr>
    </thead>

    <tbody id="clienteTabelaBody">

    </tbody>

  </table>
  <!-- ./tabela cliente -->



  <!-- paginacao -->
  <!-- <nav class="pagination">
    <a href="#" class="pagination-previous">Anterior</a>
    <a href="#" class="pagination-next">Proximo</a>
    <ul class="pagination-list">
      <li>
        <a href="#" class="pagination-link">1</a>
      </li>
      <li>
        <a href="#" class="pagination-ellipsis">&hellip;</a>
      </li>
      <li>
        <a href="#" class="pagination-link">45</a>
      </li>
      <li>
        <a href="#" class="pagination-link is-current">46</a>
      </li>
      <li>
        <a href="#" class="pagination-link">47</a>
      </li>
      <li>
        <a href="#" class="pagination-ellipsis">&hellip;</a>
      </li>
      <li>
        <a href="#" class="pagination-link">81</a>
      </li>

    </ul>
  </nav> -->
  <!-- ./paginacao -->


  <script>
    $(document).ready(function () {

      /* eventos */
      get_empresa_para_tabela();



         
      /* ./eventos */


      /* metodos */
      function adicionar_linha_tabela(codigo, cliente, nome, descricao, nuit) {
        $linha = $('<tr/>');

        $btnContainer = $('<div/>');
        $btnContainer.addClass('buttons');
        $btnEditar = $('<a/>');
        $btnEditar.attr('href','/clientes/'+ codigo);
        
        $btnEditar.addClass('button is-small');
        $btnEditar.text('editar');

        $btnRemover = $('<a/>');
        $btnRemover.attr('href','#');
        $btnRemover.addClass('button is-small is-danger empresa-remover');
        $btnRemover.text('Remover')
        $btnRemover.attr('data-id', codigo);

        $btnContainer.append($btnEditar);
        $btnContainer.append($btnRemover);

        $codigo = $('<td/>').html(codigo);
        $cliente = $('<td/>').html(cliente);
        $nome = $('<td/>').html(nome);
        $descricao = $('<td/>').html(descricao);
        $nuit = $('<td/>').html(nuit);
        $acao = $('<td/>')

        $linha.append($codigo);
        $linha.append($cliente);
        $linha.append($nome);
        $linha.append($descricao);
        $linha.append($nuit);
        $linha.append($btnContainer);

        $('#clienteTabelaBody').append($linha);
      }

      function limpar_tabela_cliente() {
        $('#clienteTabelaBody').html('');
      }



      function get_empresa_para_tabela() {
        $.get('http://127.0.0.1:4000/empresas/', function (data, status) {
        if (data.erro !== null) {
          alert('ocorreu um erro ' + data.erro)
        } else {
          data.resultado.forEach(cliente => {
            adicionar_linha_tabela(cliente._id, cliente.empresa, cliente.nome, cliente.descricao, cliente.nuit);
            
          });;
                 // remover filial selecionado na linha da tabela
                 $('.empresa-remover').on('click', function (event) {
            event.preventDefault();
            var id = $(this).data().id;
            cliente = $('#clienteTxtCodigo').val();
            // limpar_tabela_cliente_filial();
            limpar_tabela_cliente();
            $.get("/empresas/delete/" + id, function (data, status) {
              // get_filial_para_tabela(cliente);
              get_empresa_para_tabela();
            });

          });
        }
      });
      }
      /* ./metodos */


    });
  </script>



  <%- include('../../template/rodape'); -%>