<!-- Corpo da pagina -->
<section class="section">


    <div class="columns">

        <!-- Sidebar Menu  -->
        <!-- ./Sidebar Menu  -->

        <!-- conteudo principal -->
        <div class="column">

        </div>
        <!-- ./conteudo principal -->

    </div>
</section>
<!-- ./Corpo da pagina -->