<nav class="navbar has-shadow">
    <div class="navbar-brand">
      <!-- logo, tagline e navbar-burger -->
      <a href="" class="navbar-item">
        <img src="images/logo.png" alt="jmr lda" />
      </a>

      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <!-- user name, dropdown menu -->

      <div class="navbar-start">
        <div class="navbar-item">
          <small>jmrcloud</small>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item has-dropdown  is-hoverable">
          <div class="navbar-link">
            dercio guirruta
          </div>
          <div class="navbar-dropdown">
            <!-- Perfil -->
            <a href="#" class="navbar-item">
              <div>
                <span class="icon is-small">
                  <i class="fa fa-user-circle-o"></i>
                </span>
                Perfil
              </div>
            </a>

            <!-- Reportar bug -->
            <a href="#" class="navbar-item">
              <div>
                <span class="icon is-small">
                  <i class="fa fa-bug"></i>
                </span>
                Reportar bug
              </div>
            </a>

            <!-- Sair da sessao -->
            <a href="#" class="navbar-item">
              <div>
                <span class="icon is-small">
                  <i class="fa fa-sign-out"></i>
                </span>
                Sair
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>