    <!-- Sidebar Menu  -->
    <div class="column is-4-tablet is-3-desktop is-2-widescreen has-background-light	">
        <nav class="menu">
          <p class="menu-label">
            Menu
          </p>
          <ul class="menu-list">
            <!-- Dashboard -->
            <li>

              <% if (isActive == "dashboard") { %>
                <a class="is-active" href="/">
                <% } else { %>  
                  <a  href="/">       
                <% } %>
                <span class="icon">
                  <i class="fa fa-tachometer"></i>
                </span>
                Dashboard
              </a>
            </li>
         <!-- servicos -->
         <li>
          <% if (isActive == "servicos") { %>
          <a class="is-active" href="/servicos">
          <% } else { %>  
            <a  href="/serviços">
            <% } %>

            <span class="icon">
              <i class="fa fa-handshake-o"></i>
            </span>
            Servicos
          </a>
        </li>
        <!-- ./servicos -->

            <!-- Aplicacoes -->
            <li>
              <% if (isActive == "aplicacao") { %>
                <a  class="is-active"  href="/aplicacao">      
                <% } else { %>  
                  <a  href="/aplicacao">
                  <% } %>
                  <span class="icon">
                    <i class="fa fa-cube"></i>
                  </span>
                  Aplicações
                </a>  
              </li>                  


            <!-- clientes -->


            <li>
              <% if (isActive == "clientes") { %>
                <a   class="is-active" href="/clientes">
                <% } else { %>  
                  <a  href="/clientes">
                  <% } %>              
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                Clientes
              </a>
            </li>
            <!-- ./clientes -->

          <!-- licenca -->


          <li>
            <% if (isActive == "licenca") { %>
              <a   class="is-active" href="/licenca">
              <% } else { %>  
                <a  href="/licença">
                <% } %>              
              <span class="icon">
                <i class="fa fa-user"></i>
              </span>              
              Licenca
            </a>
          </li>
          <!-- ./licenca -->


          </ul>
        </nav>
      </div>
    <!-- ./Sidebar Menu  -->
