    <!-- Sidebar Menu  -->
    <div class="column is-4-tablet is-3-desktop is-2-widescreen">
        <nav class="menu">
          <p class="menu-label">
            Menu
          </p>
          <ul class="menu-list">
            <!-- Dashboard -->
            <li>
              <a href="dashboard.html">
                <span class="icon">
                  <i class="fa fa-tachometer"></i>
                </span>
                Dashboard
              </a>
            </li>
         <!-- servicos -->
         <li>
          <a  href="servicos.html">
            <span class="icon">
              <i class="fa fa-handshake-o"></i>
            </span>
            Servicos
          </a>
        </li>
        <!-- ./servicos -->

            <!-- Aplicacoes -->
            <li>
              <a  href="aplicacao.html.html">
                <span class="icon">
                  <i class="fa fa-cube"></i>
                </span>
                Aplicacoes
              </a>
            </li>

            <!-- clientes -->
            <li>
              <a  href="clientes.html">
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                Clientes
              </a>
            </li>
          </ul>
        </nav>
      </div>
    <!-- ./Sidebar Menu  -->
